<div (click)="toggleMode()" class="mode">
  <img *ngIf="mode === 'light'" class="sun" src="assets/images/sun.png" />
  <img *ngIf="mode === 'dark'" class="moon" src="assets/images/moon.png" />
</div>

<div class="header">
  <p class="name">Allison Schambers</p>
  <ul class="nav">
    <li class="nav-link" [routerLink]="'/'">About</li>
    <li class="nav-link" [routerLink]="'/projects'">Projects</li>
  </ul>
</div>

<div class="about" [ngClass]="mode === 'light' ? 'text-dark border-dark' : 'text-light border-light'">
  <h2>About Me:</h2>
  <p>

  </p>
    I'm eager to learn and find the best solutions when solving problems.
    I also enjoy working on teams where everyone can learn from eachother.
    Lately, I've been excited about being part of a team that is working to
    create a user experience unlike anything the Pokemon GO community has
    seen. I love using my creativity and logic, and working on these kinds
    of projects really drives my passion and excitement for web development.
    When I'm not at my computer, I like to play video games, swim, bike, run,
    play chess, listen to music, play board games, and spend time with friends.
  <div class="about-container">
    <a href="https://www.linkedin.com/in/allison-schambers-b088778a/" class="link">Linkedin</a>
  </div>
</div>

<div class="github" [ngClass]="mode === 'light' ? 'text-dark border-dark' : 'text-light border-light'">
  <h2>Technical Experience:</h2>
  <p><b>Frontend</b>: HTML, CSS, SCSS, Tailwindcss, JavaScript, React, Redux, Angular, Jest Mock Testing</p>
  <p><b>Backend</b>: Node.js, Express, SQL Server, MySQL, PostgreSQL, Knex, MongoDB, C#, .NET</p>
  <p><b>Other</b>: Socket.io, SignalR, Git CLI, Python, Vue, JS Algorithms, Figma Prototyping, Amazon EC2 Deplyments, Azure Devops, Github Actions</p>
  <p><b>Methodologies</b>: Agile Scrum, JIRA, Kanban boards, Databases, RESTful API's, CRUD apps, Testing, Frontend & Backend Development</p>
  <div class="icons-container">
    <img class="icon" src="assets/images/angular.png">
    <img class="icon" src="assets/images/react.png">
    <img class="icon" src="assets/images/rnative.png">
    <img class="icon" src="assets/images/vue.png">
    <img class="icon" src="assets/images/javascript.png">
    <img class="icon" src="assets/images/jest.png">
    <img class="icon" src="assets/images/sass.png">
    <img class="icon" src="assets/images/tailwindcss.png">
    <img class="icon" src="assets/images/nodejs.png">
    <img class="icon" src="assets/images/postgresql.png">
    <img class="icon" src="assets/images/git.png">
    <img class="icon" src="assets/images/sql.png">
    <img class="icon" src="assets/images/python.png">
    <img class="icon" src="assets/images/csharp.png">
    <img class="icon" src="assets/images/postman.png">
    <img class="icon" src="assets/images/socketio.png">
  </div>
  <div class="github-container">
    <a href="https://github.com/aschambers" class="link">Github</a>
  </div>
</div>