.mode {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.header {
  padding-bottom: 0.2rem;
  background-color: pink;
}

.name {
  padding-top: 1rem;
  padding-left: 0.8rem;
  font-size: 1.2em;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 0.5rem;
  &-link {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1em;
    padding: 0.4rem;
    border-radius: 10%;
  }
  &-link:hover {
    background-color: rgb(49, 49, 49, 0.1);
    padding: 0.4rem;
    border-radius: 10%;
  }
}

.sun {
  padding: 0.2rem;
  border: 1px solid rgb(49, 49, 49, 0.01);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.moon {
  padding: 0.2rem;
  border: 1px solid rgb(49, 49, 49, 0.01);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.sun:hover {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50%;
  padding: 0.2rem;
}

.moon:hover {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50%;
  padding: 0.2rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  color: white;
  margin: 2rem 10% 1rem 10%;

  &-hobbies {
    margin-top: 1rem;
  }

  &-container {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

.github {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  color: white;
  margin: 2rem 10% 1rem 10%;

  &-container {
    display: flex;
    margin: 0 auto;
    margin-top: 1rem;
  }
}

.border-dark {
  border: 1px solid #FFFFFF;
  padding: 1.5rem;
}

.border-light {
  border: 1px solid #000000;
  padding: 1.5rem;
}

.border-dark:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(0.985) perspective(0px);
}

.border-light:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(0.985) perspective(0px);
}

.text {
  &-light {
    color: #000000;
  }
  &-dark {
    color: #FFFFFF;
  }
}

.icons-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.icon {
  height: 5rem;
  width: 5rem;
  padding: 0.5rem;
}

.link {
  text-decoration: none;
  color: rgb(50, 50, 250);
  font-size: 1.4rem;
}