<div (click)="toggleMode()" class="mode">
  <img *ngIf="mode === 'light'" class="sun" src="assets/images/sun.png" />
  <img *ngIf="mode === 'dark'" class="moon" src="assets/images/moon.png" />
</div>

<div class="header">
  <p class="name">Allison Schambers</p>
  <ul class="nav">
    <li class="nav-link" [routerLink]="'/'">Projects</li>
    <li class="nav-link" [routerLink]="'/about'">About</li>
  </ul>
</div>

<div class="about" [ngClass]="mode === 'light' ? 'text-dark border-dark' : 'text-light border-light'">
  <h2>About:</h2>
  <p>
    To talk a bit about myself, I'm a self-taught software engineer with a passion for creating web and mobile applications. I began working
    for a start-up company, with the intent to create an automated trucking dispatch system, and later got hired
    with Novo Technologies (who is now Ottersoft). This year, the team I've been working on (Transport.net) got
    hired on by the parent company GMR. My favorite part of programming is solving problems and making things look and work better
    than they did before. I'm always striving to improve and learn more every day.
  </p>
  <p class="about-hobbies">
    Some of my interests and hobbies outside of programming have been playing Video Games, Swimming, Biking, Running, Triathlons,
    Chess, Music, Board Games and spending time with friends.
  </p>
  <div class="about-container">
    <a href="https://www.linkedin.com/in/allison-schambers-b088778a/" class="link">Linkedin</a>
  </div>
</div>

<div class="github" [ngClass]="mode === 'light' ? 'text-dark border-dark' : 'text-light border-light'">
  <h2>Technical Experience:</h2>
  <p><b>Frontend</b>: HTML, CSS, SCSS, Tailwindcss, JavaScript, React, Redux, Angular, Jest Mock Testing</p>
  <p><b>Backend</b>: Node.js, Express, SQL Server, MySQL, PostgreSQL, Knex, MongoDB, C#, .NET</p>
  <p><b>Other</b>: Git CLI, Python, Vue, JS Algorithms, Figma Prototyping, Amazon EC2 Deplyments, Azure Devops, Github Actions</p>
  <p><b>Methodologies</b>: Agile Scrum, JIRA, Kanban boards, Databases, RESTful API's, CRUD apps, Testing, Frontend & Backend Development</p>
  <div class="icons-container">
    <img class="icon" src="assets/images/angular.png">
    <img class="icon" src="assets/images/react.png">
    <img class="icon" src="assets/images/rnative.png">
    <img class="icon" src="assets/images/vue.png">
    <img class="icon" src="assets/images/javascript.png">
    <img class="icon" src="assets/images/jest.png">
    <img class="icon" src="assets/images/sass.png">
    <img class="icon" src="assets/images/tailwindcss.png">
    <img class="icon" src="assets/images/nodejs.png">
    <img class="icon" src="assets/images/postgresql.png">
    <img class="icon" src="assets/images/git.png">
    <img class="icon" src="assets/images/sql.png">
    <img class="icon" src="assets/images/python.png">
    <img class="icon" src="assets/images/csharp.png">
    <img class="icon" src="assets/images/postman.png">
  </div>
  <div class="github-container">
    <a href="https://github.com/aschambers" class="link">Github</a>
  </div>
</div>