.mode {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.header {
  padding-bottom: 0.2rem;
  background-color: pink;
}

.name {
  padding-top: 1rem;
  padding-left: 0.8rem;
  font-size: 1.2em;
}

.nav {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  list-style-type: none;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 0.5rem;
  &-link {
    margin: 0rem 1rem 0rem 1rem;
    font-size: 1em;
    padding: 0.4rem;
    border-radius: 10%;
  }
  &-link:hover {
    background-color: rgb(49, 49, 49, 0.1);
    padding: 0.4rem;
    border-radius: 10%;
  }
}

.sun {
  padding: 0.2rem;
  border: 1px solid rgb(49, 49, 49, 0.01);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.moon {
  padding: 0.2rem;
  border: 1px solid rgb(49, 49, 49, 0.01);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.sun:hover {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50%;
  padding: 0.2rem;
}

.moon:hover {
  border: 1px solid rgb(49, 49, 49);
  border-radius: 50%;
  padding: 0.2rem;
}

.project-one, .project-two, .project-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  color: white;
  max-width: 80rem;
  &-img {
    height: auto;
    border: 1px solid white;
    cursor: pointer;
    border-radius: 1px;
    width: 100%;
  }

  &-desc {
    margin-top: 0.5rem;
    text-align: center;
    padding: 1rem 10% 0rem 10%;
  }

  &-links {
    padding-top: 0.5rem;
    font-size: 1.2em;
    &-url {
      margin-right: 1rem;
      text-decoration: none;
    }
    &-code {
      margin-right: 1rem;
      text-decoration: none;
    }
  }
}


.text {
  &-light {
    color: #000000;
  }
  &-dark {
    color: #FFFFFF;
  }
}

@media (max-width: 640px) {
  .project-one-mobile {
    &-img {
      width: 100%;
    }
  }
}
