<div (click)="toggleMode()" class="mode">
  <img *ngIf="mode === 'light'" class="sun" src="assets/images/sun.png" />
  <img *ngIf="mode === 'dark'" class="moon" src="assets/images/moon.png" />
</div>

<div class="header">
  <p class="name">Allison Schambers</p>
  <ul class="nav">
    <li class="nav-link" [routerLink]="'/'">Projects</li>
    <li class="nav-link" [routerLink]="'/about'">About</li>
  </ul>
</div>

<div class="project-one">
  <div *ngIf="!isMobileScreenshots" (click)="showMobileScreenshots()">
    <img id="project-one-img" [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-one-img" src="assets/images/Zygarden.png" />
  </div>
  <div *ngIf="isMobileScreenshots" (click)="showMobileScreenshots()">
    <img [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-one-mobile-img" src="assets/images/HomePageMobile.png" />
    <img [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-one-mobile-img" src="assets/images/DashboardMobile.png" />
    <img [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-one-mobile-img" src="assets/images/ManageTournamentMobile.png" />
    <img [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-one-mobile-img" src="assets/images/TournamentsPageMobile.png" />
  </div>
  <div class="project-one-desc">
    <p [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'">An Angular application that makes it easy to create and join Pokemon GO PVP tournaments. (private while in development)</p>
    <div class="project-one-links">
      <a class="project-one-links-url" [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'" href="https://acc.zygarden.gg/">url</a>
      <a class="project-one-links-code" [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'" href="https://github.com/Zygarden/zygarden-frontend">code</a>
    </div>
  </div>
</div>
<div class="project-two">
  <div (click)="navigateToWebsite()">
    <img id="project-two-img" [ngClass]="mode === 'light' ? 'border-dark' : 'border-light'" class="project-two-img" src="assets/images/ReplayVisualizer.png" />
  </div>
  <div class="project-two-desc">
    <p [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'">An Angular application that parses battle replays to show trends and statistics.</p>
    <div class="project-one-links">
      <a class="project-one-links-url" [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'" href="https://aschambers.github.io/replay-visualizer/">url</a>
      <a class="project-one-links-code" [ngClass]="mode === 'light' ? 'text-dark' : 'text-light'" href="https://github.com/aschambers/replay-visualizer">code</a>
    </div>
  </div>
</div>